<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <div class="card">
  
        <div class="card-header">
          <h4 class="card-title">Assign Query List</h4>
        </div>
        <section id="ngx-datatable-kitchen-sink">
          <div class="row">
            <div class="col-12 mb-50">
  
            </div>
            <div class="col-md-6 col-12">
              <div class="d-flex justify-content-between align-items-center m-1">
                <label class="d-flex align-items-center mx-3">Show
                  <select class="form-control mx-25" [(ngModel)]="limit" (change)="
                      setlimit({ limit: limit, search: searchBox.value })
                    ">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                  </select>
                  entries</label>
              </div>
            </div>
            <div class="col-md-6 col-12 d-flex justify-content-md-end">
              <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0 mr-3 ml-3">
                <label class="d-flex align-items-center">Search<input type="search" placeholder="Search"
                    class="form-control ml-25" [formControl]="searchBox" /></label>
              </div>
            </div>
          </div>
  
          <ngx-datatable #tableRowDetails [rows]="rows" [rowHeight]="45" class="bootstrap core-bootstrap" [limit]="10"
            [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true" [limit]="limit"
            [externalPaging]="true" [externalSorting]="true" [count]="rowCount"
            (page)="datatablePageData({'limit':limit ,'search':searchBox.value },$event)" [offset]="tableOffset"
            (sort)="onSortFile($event)">
            <!-- Row Detail Template -->
            <ngx-datatable-row-detail [rowHeight]="50">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                <div class="ml-75 pl-5 pt-75 ">
                  <div class="mw-100">
                    <span><strong>Feedback description : </strong> {{ row.feedback_description }}</span>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-row-detail>
  
            <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
              [canAutoResize]="false">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                  [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                  (click)="rowDetailsToggleExpand(row)">
                </a>
              </ng-template>
            </ngx-datatable-column>
  
  
            <ngx-datatable-column name="user Code" prop="user_code">
              <ng-template ngx-datatable-cell-template let-row="row">
                {{row.requested_by.user_code }}
              </ng-template>
            </ngx-datatable-column>
  
  
            <ngx-datatable-column name="Requested by" prop="first_name">
              <ng-template ngx-datatable-cell-template let-row="row">
                {{row.requested_by.first_name}} {{row.requested_by.last_name}}
              </ng-template>
            </ngx-datatable-column>
  
            <ngx-datatable-column name="Company Email" prop="company_email" [width]="200">
              <ng-template ngx-datatable-cell-template let-row="row">
                {{ row.requested_by.company_email }}
              </ng-template>
            </ngx-datatable-column>
  
            <ngx-datatable-column name="User type" prop="user_type">
              <ng-template ngx-datatable-cell-template let-row="row">
                <ng-container *ngIf="row.requested_by.user_type == null">Unknown</ng-container>
                {{ row.requested_by.user_type }}
              </ng-template>
            </ngx-datatable-column>
  
  
  
            <ngx-datatable-column name="assigned_department" prop="assigned_department" [width]="200">
              <ng-template let-assigned_department="value" ngx-datatable-cell-template>
                {{ assigned_department }}
              </ng-template>
            </ngx-datatable-column>
  
  
            <ngx-datatable-column name="feedback_title" prop="feedback_title" [width]="150">
            </ngx-datatable-column>
  
            <ngx-datatable-column name="status" prop="status" [width]="100">
              <ng-template let-status="value" ngx-datatable-cell-template>
                <div class="badge badge-pill"
                [ngClass]="{
                  'badge-light-primary': status == 'CONFIRMED',
                  'badge-light-success': status == 'OPEN',
                  'badge-light-danger': status == 'CLOSED',
                  'badge-light-warning': status == 'IN_PROCESS'
                }">{{ status }} </div>
              </ng-template>
            </ngx-datatable-column>
  
            <ngx-datatable-column name="Actions" [width]="120" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-row="row">
                <div class="d-flex align-items-center">
                  <button (click)="updateQueryStatus(row)" class="bg-transparent border-0"><i data-feather="edit"
                      class="text-primary cursor-pointer"></i></button>
                      <button (click)="assignToAnother(row)" class="bg-transparent border-0"> <i
                        data-feather="repeat" class="text-primary cursor-pointer"></i></button>
                  <button (click)="deleteQuery(row._id)" class="bg-transparent border-0" *ngIf="row.status == 'OPEN'"> <i
                      data-feather="trash-2" class="text-primary cursor-pointer"></i></button>
                </div>
              </ng-template>
            </ngx-datatable-column>
  
          </ngx-datatable>
  
  
        </section>
      </div>
    </div>
  </div>